# Dataset - ne pas pusher
*.csv
*.xlsx
*.json
data/

# Modèle ML - fichier lourd
best_model.pkl

# MLflow
mlruns/
mlartifacts/
mlflow.db

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints


# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# React / Node
node_modules/
build/
dist/
.env.local
.env.production

# OS
.DS_Store
Thumbs.db
